<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container mt-5">
<h1>Welcome to r/<%= name %></h1>
<h2><%= subscribers %> subscribers</h2>
<p><i><%= description %></i></p>
<hr>

<% for (let post of posts) { %>
<article>
    <p><b><%= post.title %></b> -- u/<%= post.author %></p>
    <% if (post.img) { %>
    <img src="<%=post.img%>" alt="">
    <% } %>
</article>
<% } %>

</div>

<%- include('partials/footer')%> 